<template>
  <div class="container">
    <b-table :data="list" :loading="listLoading" :bordered="isBordered"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :hoverable="isHoverable"
            :focusable="isFocusable"
            :mobile-cards="hasMobileCards">
      <template slot-scope="props">
        <b-table-column field="id" label="ID" width="40" numeric>
            {{ props.$index }}
        </b-table-column>
        <b-table-column field="title" label="Title">
            {{ props.row.title }}
        </b-table-column>
        <b-table-column field="author" label="Author">
            {{ props.row.author }}
        </b-table-column>
        <b-table-column field="pageviews" label="Pageviews" numeric>
            {{ props.row.pageviews }}
        </b-table-column>
        <b-table-column field="status" label="Status">
            {{ props.row.status }}
        </b-table-column>
        <b-table-column field="display_time" label="Display_time">
            {{ props.row.display_time }}
        </b-table-column>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
              <p>
                  <b-icon
                      icon="emoticon-sad"
                      size="is-large">
                  </b-icon>
              </p>
              <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import { getList } from '@/api/table'

export default {
  data() {
    return {
      list: null,
      listLoading: true,
      isStriped: true,
      isNarrowed: true,
      isHoverable: true,
      isFocusable: true,
      hasMobileCards: true,
      isBordered: true
    }
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    fetchData() {
      this.listLoading = true
      getList(this.listQuery).then(response => {
        this.list = response.data.items
        this.listLoading = false
      })
    }
  }
}
</script>
