<template>
  <div>
    <GmapMap
      :center="center"
      :zoom="15"
      map-type-id="terrain"
      style="width: 100%; height: 400px"
      >
        <gmap-cluster @click="clusterClick">
          <GmapMarker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="true"
              :label="{text:m.tipo}"
          />
        </gmap-cluster>
      </GmapMap>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'mapa',
  data () {
    return {
      center: {lat: 0, lng: 0}
    }
  },
  computed: {
    ...mapGetters([
      'events',
      'markers'
    ])
  },
  methods: {
    clusterClick: ob => {
      console.log(ob)
    }
  },
  mounted () {
    this.center = this.markers[0].position
  }
}
</script>

<style scoped>

</style>
