<template>
  <section class="column app-main has-background-light">    
      <navbar></navbar>
      <div class="container">
        <div class="section">
      <!-- <router-view :key="key"></router-view> -->
          <router-view></router-view>
        </div>
      </div>
  </section>
</template>

<script>
import { Navbar } from '@/views/layout/components'
export default {
  name: 'AppMain',
  computed: {
    // key() {
    //   return this.$route.name !== undefined ? this.$route.name + +new Date() : this.$route + +new Date()
    // }
  },
  components: {
    Navbar
  }
}
</script>
