<template>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-start">
      <a class="navbar-item" @click="toggleSideBar()">
        <span><font-awesome-icon icon="bars"/></span>
      </a>
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="@/assets/brand.png" alt="">
          <p class="is-title is-2">CAMIONEITOR 3000</p>
        </div>
      </div>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Acciones
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" @click="logout">
              Salir
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'sidebar',
      'avatar'
    ])
  },
  methods: {
    toggleSideBar () {
      this.$store.dispatch('ToggleSideBar')
      console.log(this.sidebar.opened)
    },
    logout () {
      this.$store.dispatch('LogOut').then(() => {
        location.reload() // 为了重新实例化vue-router对象 避免bug
      })
    }
  },
  components: {
    FontAwesomeIcon
  }
}
</script>

<style scoped>
</style>
