<template>
  <div>
    <section class="main-content columns  is-gapless is-fullheight">
      <sidebar></sidebar>
      <app-main></app-main>
    </section>
    <b-loading :is-full-page="true" :active.sync="isLoading" :canCancel="false"></b-loading>
  </div>
</template>

<script>
import { Sidebar, AppMain } from '@/views/layout/components'
import { mapGetters } from 'vuex'

export default {
  name: 'layout',
  components: {
    Sidebar,
    AppMain
  },
  computed: {
    ...mapGetters([
      'isLoading'
    ]),
    sidebar () {
      return this.$store.state.app.sidebar
    }
  }
}
</script>

<style scoped>
</style>
