<template>
  <div>
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/wcugcRUzgDQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</template>

<script>
export default {
  name: 'camara'
}
</script>

<style scoped>

</style>
