<template>
  <aside class="hero column is-fullheight sidebar is-narrow">
    
    <nav class="menu" :class="{'fix-180':isCollapse}">
      <sidebar-user v-if="isCollapse"></sidebar-user>
      <sidebar-item :routes="permission_routers"></sidebar-item>
    </nav>
    
  </aside>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'
import SidebarUser from './SidebarUser'

export default {
  components: { SidebarItem, SidebarUser },
  computed: {
    ...mapGetters([
      'permission_routers',
      'sidebar'
    ]),
    routes () {
      return this.$router.options.routes
    },
    isCollapse () {
      return !this.sidebar.opened
    }
  }
}
</script>
<style lang="scss" scoped>
.fix-180{
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
}
aside{
  &.sidebar {

    background: $sidebar-bg; /* Old browsers */
    background: -moz-linear-gradient(top, $sidebar-bg 0%, $sidebar-bg 50%, darken($sidebar-bg, 10%) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $sidebar-bg 0%,$sidebar-bg 50%,darken($sidebar-bg, 10%) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $sidebar-bg 0%,$sidebar-bg 50%,darken($sidebar-bg, 10%) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sidebar-bg', endColorstr='darken($sidebar-bg, 10%)',GradientType=0 ); /* IE6-9 */
    color: white;
    padding: 0.75rem 0 0.75rem 0.75rem;
  }
}
</style>
