<template>
  <ul class="menu-list">
    <template v-for="item in routes" v-if="!item.hidden&&item.children">
        <li :key="item.children[0].name" v-if="hasOneShowingChildren(item.children) && !item.children[0].children&&!item.alwaysShow">
          <b-tooltip :label="item.children[0].meta.title" position="is-right" :active="!isCollapse">
            <router-link :to="item.path+'/'+item.children[0].path" :class="{'is-active':isCurrentRoute(item.path+'/'+item.children[0].path),'is-collapse':isCollapse}">
              <span><font-awesome-icon :icon="item.children[0].meta.icon"/></span>
              <span class="has-text-weight-bold cut-text" v-if="isCollapse">{{item.children[0].meta.title}}</span>
            </router-link>
          </b-tooltip>
        </li>
    </template>
  </ul>
</template>

<script>
import { mapGetters } from 'vuex'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

export default {
  name: 'SidebarItem',
  props: {
    routes: {
      type: Array
    },
    isNest: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    isCollapse () {
      return !this.sidebar.opened
    }
  },
  methods: {
    hasOneShowingChildren (children) {
      const showingChildren = children.filter(item => {
        return !item.hidden
      })
      if (showingChildren.length === 1) {
        return true
      }
      return false
    },
    isCurrentRoute (route) {
      if (route === this.$route.path) {
        return true
      }
      return false
    }
  },
  components: {FontAwesomeIcon}
}
</script>
<style lang="scss" scoped>
  a{
    color: white;
    &:hover {
        color: lighten($primary, 10%);
        background-color: darken($sidebar-bg, 3%);
      }
      &.is-active {
        background-color: darken($sidebar-bg, 10%);
        color: $primary;
      }
    &.is-collapse {
      color: white;
      text-align:left;
      padding: 0.6rem;
      font-size: 0.7em;
      margin: 0 0 0 20px;
      span:nth-child(2) {
        margin: 0 0 0 15px;
        &.cut-text {
          width: 80px;
          overflow: hidden;
          display: inline-flex;
          text-overflow: ellipsis;
          padding: 0;
          white-space: nowrap;
        }
      }
      &:hover {
        color: lighten($primary, 10%);
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 0 0 20px;
        padding: -1px;
        -webkit-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
        font-size: 0.7em;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background-color: darken($sidebar-bg, 3%);
      }
      &.is-active {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 0 0 20px;
        padding: -1px;
        -webkit-border-radius: 20px 0 0 20px;
        border-radius: 20px 0 0 20px;
        font-size: 0.7em;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background-color: darken($sidebar-bg, 10%);
        svg{
          color: $primary;
        }
      }
    }
  }
</style>
