<template>
  <div class="pad-user">
    <div class="is-8 is-offset-2">
      <img :src="user.avatar">
    </div>
    <p class="title has-text-centered is-6 is-dark">{{user.name}}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SidebarUser',
  computed: {
    ...mapGetters(['sidebar', 'user'])
  }
}
</script>
<style lang="scss" scoped>
.pad-user{
  padding: 0.1rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img {
  border-radius: 50%;
  border: 3px solid $primary;
}
p {
  margin-bottom: 1rem;
  &.title {
    color: white;
    text-align: center;
  }
  &.subtitle {
    color: white;
  }
}
</style>
