<template>
  <div class="dashboard-container">
    <div class="card has-background-primary">
      <div class="card-content">
        <p class="title is-4 has-text-left has-text-white	">
          DASHBOARD
        </p>
      </div>      
    </div>
    <br>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="columns media-content">
              <div class="column is-narrow">
                <font-awesome-icon icon="clock" size="3x"/>
              </div>
              <div class="column is-gapless is-paddingless has-text-centered">
                <p class="title is-4">{{fecha}}</p>
                <p class="title is-5">{{hora}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="columns media-content">
              <div class="column is-narrow">
                <font-awesome-icon icon="arrow-up" size="3x" class="has-text-success"/>
              </div>
              <div class="column v-center">
                <p class="title is-5 has-text-left">Subidas: {{eventsByType.i}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <div class="columns media-content">
              <div class="column is-narrow">
                <font-awesome-icon icon="arrow-down" size="3x"  class="has-text-danger"/>
              </div>
              <div class="column v-center">
                <p class="title is-5 has-text-left">Bajadas: {{eventsByType.o}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-content">
            <line-chart :data="chart1"></line-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <pie-chart :data="[['Subidas', eventsByType.i], ['Bajadas', eventsByType.o]]"></pie-chart>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <column-chart :data="[['Sun', 32], ['Mon', 46], ['Tue', 28]]"></column-chart>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <bar-chart :data="[['Subidas', eventsByType.i], ['Bajadas', eventsByType.o]]"></bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import moment from 'moment'
export default {
  name: 'dashboard',
  computed: {
    ...mapGetters([
      'name',
      'role',
      'events',
      'eventsByType',
      'chart1'
    ])
  },
  data () {
    return {
      fecha: moment().format('l'),
      hora: moment().format('LTS')
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('LogOut').then(() => {
        location.reload()
      })
    }
  },
  mounted: function () {
    setInterval(() => {
      this.hora = moment().format('LTS')
    }, 1000)
  },
  components: {FontAwesomeIcon}
}
</script>import VueLodash from 'vue-lodash'

<style scoped>
.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
