<template>
  <div style="background:#f0f2f5;margin-top: -20px;">
    404
  </div>
</template>

<script>
export default {
  data () {
    return {
      saludo: 'hola'
    }
  },
  computed: {
    message () {
      return '特朗普说这个页面你不能进......'
    }
  }
}
</script>

<style scoped>
</style>
