<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <p class="title">Bienvenido - Login</p>
          <b-field label="Usuario">
            <b-input v-model="loginForm.username"></b-input>
          </b-field>
          <b-field label="Password">
            <b-input v-model="loginForm.password" type="password"></b-input>
          </b-field>
          <button class="button is-primary" @click="handleLogin()">Acceder</button>
      </div>
    </div>
    <b-loading :is-full-page="true" :active.sync="isLoading" :canCancel="false"></b-loading>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'login',
  computed: mapGetters(['isLoading']),
  data () {
    return {
      loginForm: {
        username: 'test@test.com',
        password: '123456'
      },
      loading: false,
      pwdType: 'password'
    }
  },
  methods: {
    showPwd () {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    handleLogin () {
      this.loading = true
      this.$store.dispatch('Login', this.loginForm).then(() => {
        this.loading = false
        this.$router.push({ path: '/' })
      }).catch(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped>
</style>
